@charset "UTF-8";
/*
* Модальная контактная формы
* без javascript и дополительных изображений;
* исключительно средствами CSS;
*
*  @dobrovoi dbmast.ru
*/
/* расчет ширины и высоты элементов */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Базовый стиль формы */
form {
    overflow: hidden;
    margin: 0 auto;



    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

}
/* общие для полей ввода */
textarea, input{
    display:block;    
    margin-bottom:20px;
    padding-right:20px;
    padding-left:20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; 
    color:#fff;
    font-weight: 300;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
}
/* поле сообщения */
textarea{
    overflow:hidden;
    width: 100%;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);

}
/* поля ввода */
input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
}
input[type=submit] {
    cursor:pointer;
}
input.name {
	background: rgba(255, 255, 255, 0.4); 
	padding-left:25px;
}
input.email {
	background: rgba(255, 255, 255, 0.4);
	padding-left:25px;
}
input.message {
	background: rgba(255, 255, 255, 0.4);
	padding-left:25px;
}
::-webkit-input-placeholder {
	color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
	color: #fff; 
}
input:focus, textarea:focus { 

	overflow: hidden;
}
:focus::-webkit-input-placeholder { color:transparent; }
:focus::-moz-placeholder { color:transparent; }
:focus::placeholder { color:transparent; }

/* Стили для кнопки отправить */
.btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border-radius: 4px;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    outline: none;
}
/* стиль кнопки при наведении */
.btn:hover {
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
    color: #fff;
 }
/* активная кнопка */
.btn:active {
    margin-top:1px;
    border: 1px solid #333333;
    background: #ffCC00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffCC00), to(#ff6600));
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600);
    background: -moz-linear-gradient(top, #ffcc00, #ff6600);
    background: -ms-linear-gradient(top, #ffcc00, #ff6600);
    background: -o-linear-gradient(top, #ffcc00, #ff6600);
    background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff6600 100%);
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    color: #fff;
}
/* конец формы */

/** стили фона затемнения */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 10000;
visibility: hidden;
/* фон затемнения */
background-color: rgb(0, 0, 0);
opacity: 0;
position: fixed; /* фиксированное позиционирование */
/* трансформация прозрачности при открытии  */
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.bodyclass{
    background-image: url('/asset/img/bg.PNG'); background-size: cover; height: 1220px
}
.luck{
    width: 800px; position: absolute; left: -18%;
}
.contact{
    display: flow;  position: absolute;
    top: 0; left: 40%; align-items: center
}
@media (max-width: 576px) {
    .contact{
        display: flow;  position: absolute;
        top: 0; left: 25%; align-items: center
    }
    .luck{
        width: 360px; position: relative;left: 0;
    }
    .bodyclass{
        visibility: hidden;
    }
    .overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999998;
        visibility: hidden;
        /* фон затемнения */
        background-color: rgb(0, 0, 0);
        opacity: 0;
        position: fixed; /* фиксированное позиционирование */
        /* трансформация прозрачности при открытии  */
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
    }

}
/* активируем при клике */
.overlay:target {
visibility: visible;
opacity: 1;
}
/** стили модального блока */
.modal {
 top: 0;
 right: 0;
 left: 0;

 z-index: 9999999;
/** полная прозрачность изначально */
 opacity: 0;
 display: block;
 visibility: hidden;
 position: absolute;
/* трансформация прозрачности при открытии  */
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in; 
}
/* активируем при клике */
.overlay:target+.modal{
    top: 25%;
visibility: visible;
opacity: 1;
}
/* планшет */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.modal {
		width: 95%;
	}
}
/* смарт */
@media only screen and (min-width: 459px) and (max-width: 767px) {
	.modal {
		width:85%;  
	}
}

